@inherits LayoutComponentBase
@attribute [Authorize]

<PageTitle>Job Tracker</PageTitle>

<div class="page">
    <div class="d-flex flex-column flex-shrink-0 bg-light">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           Agregar usuario logeuado
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
